$kalo: #000;
$sada: #fff;
$c: #ccc;
$c1: #17b6e6;
$c2: #72d3f1;
$c3: #1291b8;
$c4: #222;
$c5: #09485b;
$fb: #215fca;
$tw: #5c8ee4;
$in: #aa1a82;
$li: #0077b5;
$s: linear-gradient(to left, #000, #ccc);